body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 20px;
}

.heading {
    text-align: center;
    background-image: url(floodsyl.jpg);
    background-repeat: no-repeat;
    padding: 20px;
}

.linkbutton {
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    font-weight: 700;
    border: 2px solid gold;
    border-radius: 6px;
    background-color: gold;
}

.header {
    color: black;
}

.humanity {
    color: bisque;
}

.one {
    text-align: center;
    padding-top: 20px;
}

#lekha {
    font-size: 20px;
}

.money {
    display: flex;
    margin-bottom: 50px;
}

.taka {
    text-align: center;
    margin: 10px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(238, 236, 236);
}

#extra {
    border: 5px solid gold;
}

#box {
    margin-left: 380px;
}

.another {
    text-align: center;
}

h2 {
    font-size: 35px;
}

.otheramount {
    text-decoration: underline;
}

.to-do {
    display: flex;
    width: 50%;
    padding-left: 5%;
    margin-left: 300px;
    text-align: justify;
}

.alpha {
    text-align: center;
}

.beta {
    border: 3px solid rgba(231, 231, 181, 0.73);
    background-color: rgba(231, 231, 181, 0.73);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
}

.gama {
    margin-left: 50px;
    border: 2px solid rgba(189, 229, 243, 0.775);
    background-color: rgba(189, 229, 243, 0.775);
    padding: 20px;
}

.fa-solid {
    font-size: 30px;
}

.rehab {
    font-size: 15px;
    padding-bottom: 20px;
}

.today {
    margin-bottom: 100px;
}

.plan {
    margin-bottom: 90px;
}

.para {
    padding-bottom: 50px;
}

.history {
    text-align: center;
    padding-bottom: 130px;
}

.image {
    width: 30%;
}

.happy {
    display: flex;
    padding-bottom: 130px;
}

.happy-face {
    width: 50%;
    padding-left: 80px;
}

.happy-face img {
    width: 70%;
}

.head {
    color: rgb(237, 204, 15);
}

button {
    background-color: gold;
    border: 10px solid gold;
}

.email {
    text-align: center;
}

.updates {
    width: 500px;
    margin-left: 30%;
}

.footer {
    color: gold;
    text-align: center;
    background-color: black;
}

#sub {
    background-color: rgb(250, 241, 191);
    padding-top: 50px;
    padding-bottom: 50px;
}